<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">olfcrwcopbojfg</property>
		<property name="hibernate.connection.password">XAbbBjnuB3HxKj15LzpvZmUd9D</property>
		<property name="hibernate.connection.url">jdbc:postgres://olfcrwcopbojfg:XAbbBjnuB3HxKj15LzpvZmUd9D@ec2-23-23-216-160.compute-1.amazonaws.com:5432/dc3vfqlnnc3o07</property>




		<property name="show_sql">true</property>

		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">create</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		<property name="current_session_context_class">thread</property>

		<mapping class="com.lw2.tp6.model.Stb" />
		<mapping class="com.lw2.tp6.model.Client" />
		<mapping class="com.lw2.tp6.model.AdrType" />
		<mapping class="com.lw2.tp6.model.Contact" />
		<mapping class="com.lw2.tp6.model.Equipe" />
		<mapping class="com.lw2.tp6.model.Fonctionnalite" />
		<mapping class="com.lw2.tp6.model.GenderType" />
		<mapping class="com.lw2.tp6.model.Exigence" />


	</session-factory>
</hibernate-configuration>